.logo {
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.logo > svg {
  height: 100%;
}

.fill {
  fill: var(--logo-color);
}

.stroke {
  fill: none;
  stroke: var(--logo-color);
  stroke-miterlimit: 100;
  stroke-width: 40
}