.header {
  background-color: var(--header-background);
  height: 55px;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  box-shadow: 0 -6px 10px 5px var(--header-shadow);
}

.header.mobile {
  justify-content: space-between;
}

.tablet .logo_and_org {
  width: 20%;
}

.logo_and_org {
  color: var(--header-text);
  width: 40%;
  height: 80%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.org_and_modul {
  display: flex;
  flex-direction: column;
}

.tablet .navigation {
  width: 60%;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-family: var(--main-font), serif;
  color: var(--header-text);
  height: 100%;
  width: 20%;
}

.navigation a {
  all: unset;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 5rem;
}

.marker {
  position: absolute;
  bottom: 0;
  width: 5rem;
  height: 100%;
  border-bottom: 5px solid var(--top-nav-marker);
  background: linear-gradient(0deg, var(--button-hover-highlight), transparent);
  transition: left .5s;
  pointer-events: none;
  filter: drop-shadow(0 5px 25px var(--top-nav-market-highlight));
}

.tablet .profile {
  width: 20%;
}

.profile {
  height: 80%;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.profile__alt {
  width: 60%;
}

.user {
  background-color: var(--logo-color);
  color: var(--header-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .1rem .8rem;
  border-radius: .5rem;
  cursor: pointer;
}

.user:hover {
  background-color: var(--logo-color-hover);
}

.user > span {
  font-size: .8rem;
}

.clinic {
  font-size: .7rem;
  color: var(--header-text);
  display: flex;
}

.logout {
  padding: .5rem;
  font-size: 24px;
  color: var(--header-text);
  cursor: pointer;
  border-radius: .5rem;
}

.logout:hover {
  background-color: var(--button-hover-highlight);
}

.mobile_menu {
  color: var(--header-text);
  font-size: 40px;
}

.side_menu_container {
  position: fixed;
  left: 0;
  top: 55px;
  width: 60px;
  height: calc(100vh - 55px);
  box-shadow: 5px 0 5px -5px var(--header-shadow);
  transition: width 0.5s ease-in-out;
  z-index: 100;
}

.side_menu_container_expanded {
  width: 250px;
}

.side_menu {
  background-color: var(--header-background);
  height: 100%;
}