@font-face {
  font-family: "Myriad Pro Italic Bold";
  src: local("Myriad Pro"),
  url("./fonts/MyriadPro-BlackIt.otf") format("opentype");
}

html {
  --body-background: #fff;

  --header-background: #d9234c;
  --header-text: #fff;
  --header-shadow : #000;

  --top-nav-marker: #fff;
  --top-nav-market-highlight: #000;

  --button-hover-highlight: rgba(255, 255, 255, 0.2);

  --logo-color: #fff;
  --logo-color-hover: #d8d8d8;

  --transparent-popup-background: rgba(0, 0, 0, 0.8);

  --drawer-box-shadow: -6px 0 16px 0 rgba(0, 0, 0, 0.28),-3px 0 6px -4px rgba(0, 0, 0, 0.32),-9px 0 28px 8px rgba(0, 0, 0, 0.25);

  --main-font: "Myriad Pro", serif;
}

[data-theme='light_alt'] {
  --body-background: #d9234c;
  --header-background: #fff;

  --header-text: #d9234c;

  --top-nav-marker: #d9234c;
  --button-hover-highlight: rgba(136, 22, 47, 0.13);

  --top-nav-market-highlight: #fff;

  --header-shadow : #000;

  --logo-color: #a51d21;
  --logo-color-hover: #a83337;

}

[data-theme='dark'] {
  --body-background: #0f1219;
  --header-background: #1e232f;

  --header-text: #fff;

  --top-nav-marker: #08f9ff;
  --button-hover-highlight: #08f9ff33;

  --top-nav-market-highlight: #08f9ff;

  --header-shadow : #08f9ff;

  --logo-color: #08f9ff;
  --logo-color-hover: #0ad5da;

  --transparent-popup-background: rgba(0, 0, 0, 0.9);

  --drawer-box-shadow: -6px 0 16px 0 rgba(8, 249, 255, 0.38),-3px 0 6px -4px rgba(8, 249, 255, 0.42),-9px 0 28px 8px rgba(8, 249, 255, 0.35);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--body-background);
  overflow: hidden;
}

.ant-drawer-content-wrapper {
  box-shadow: var(--drawer-box-shadow) !important;
}

.ant-menu-root {
  padding-top: 1rem;
  width: 100%;
  border: none !important;
}

.ant-menu-submenu-selected > div {
  background-color: var(--header-text);
}