@font-face {
  font-family: "Myriad Pro Italic Bold";
  src: local("Myriad Pro"),
  url("./fonts/MyriadPro-BlackIt.otf") format("opentype");
}

html {
  --color-background: #fff;
  --color-primary-500: #d9234c;

  --color-secondary-500: #fff;

  --color-gradient-500: #fff;
  --color-gradient-600: rgba(255, 255, 255, 0.2);

  --color-gradient_alt-500: #000;

  --header-shadow : #000;

  --logo-color: #fff;
  --logo-color-hover: #d8d8d8;

  --popup-background: rgba(255, 255, 255, 0.1);
  --popup-background_alt: rgba(0, 0, 0, 0.1);

  --box-shadow: -6px 0 16px 0 rgba(0, 0, 0, 0.28),-3px 0 6px -4px rgba(0, 0, 0, 0.32),-9px 0 28px 8px rgba(0, 0, 0, 0.25);

  --main-font: "Myriad Pro", serif;
}

[data-theme='light_alt'] {
  --color-background: #d9234c;
  --color-primary-500: #fff;

  --color-secondary-500: #d9234c;

  --color-gradient-500: #d9234c;
  --color-gradient-600: rgba(136, 22, 47, 0.13);

  --color-gradient_alt-500: #fff;

  --header-shadow : #000;

  --logo-color: #a51d21;
  --logo-color-hover: #a83337;

  --popup-background: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --color-background: #0f1219;
  --color-primary-500: #1e232f;

  --color-secondary-500: #fff;

  --color-gradient-500: #08f9ff;
  --color-gradient-600: #08f9ff33;

  --color-gradient_alt-500: #08f9ff;

  --header-shadow : #08f9ff;

  --logo-color: #08f9ff;
  --logo-color-hover: #0ad5da;

  --popup-background: rgba(255, 255, 255, 0.1);

  --box-shadow: -6px 0 16px 0 rgba(8, 249, 255, 0.38),-3px 0 6px -4px rgba(8, 249, 255, 0.42),-9px 0 28px 8px rgba(8, 249, 255, 0.35);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
}

.ant-drawer-content-wrapper {
  box-shadow: var(--box-shadow) !important;
}